#requestDemoContent {
  .requestIntro {
    font-size: 1.35rem;
    font-weight: 600;
  }

  .secondary-title {
    padding: .5em;
    background: $logo-blue;
    display: inline-block;
    color: white;
  }

  #reqDemoBtn {
    @include mq {
      width: 100%;
      display: block;
    }
  }

}