html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Lato';
}

hr {
  border: none;
  background: #d3d3d3;
  height: 1px;
}

p {
  font-size: 1.15rem;
}

.form-control {
  border: 1px solid $extreme-dark-gray;
}

.link {
  font-weight: 600;
}

.orangelink {
  color: $orange;
  font-weight: 600;
}

a.social-head {
  color: $dark-gray;
  transition: 0.3s;
  font-size: 2.25rem;

  @include mq1200 {
    font-size: 1.5rem;
  }
}

a.social {
  color: $light-gray;
  transition: 0.3s;
  font-size: 2.25rem;

  @include mq1200 {
    font-size: 1.5rem;
  }
}

a.facebook:hover {
  color: #3b5998;
}

a.twitter:hover {
  color: #38a1f3;
}

a.youtube:hover {
  color: #c4302b;
}

a.instagram:hover {
  color: #9f09f7;
}

a.linkedin:hover {
  color: #0077b5;
}

.ecisBtn {
  border: 1px solid $orange;
  color: #fff;
  background: $orange;

  &:hover {
    background: #fff;
    color: $orange;
  }
}

.ecisDarkBtn {
  border: 1px solid $orange;
  color: #000000;
  background: $orange;

  &:hover {
    background: #fff;
    color: $orange;
  }
}

.blueBtn {
  border: 1px solid $logo-blue;
  color: #fff;
  background: $logo-blue;

  &:hover {
    background: #fff;
    color: $logo-blue;
  }
}

.rounded-xxl {
  border-radius: 0.8rem;
}

.secondary-title {
  padding: 0.5em;
  background: $logo-blue;
  display: inline-block;
  color: white;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}
