#cards {
  font-family: "Lato";
  background: #e8eaed;

  .card {
    background: #e8eaed;
    border: none;
  }

  h3 {
    padding: .5em 1em;
    margin: .5em 0 1em 0;
    background: $orange;
    color: $logo-blue;
    font-weight: 900;
  }

  p {
    font-weight: 400;
  }
}