#hero {
  height: auto;
  min-height: 50vh;
  background: url(../img/hero_bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .hero-text {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1em;
    background: rgba(0,0,0, .75);

    @include mq600 {
      font-size: 1.75rem;
    }
  }

  .application-link {
    color: white;
    background: rgba(0,0,0, .75);
    padding: 1em;
    font-size: 1.3rem;
    font-weight: 400;
    transition: .3s;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    top: 0;

    &:hover {
      text-decoration: none;
      background: $orange;
      color: black;
      top: -3px;
      -webkit-box-shadow: 9px 15px 24px -12px rgba(0,0,0,0.75);
      -moz-box-shadow: 9px 15px 24px -12px rgba(0,0,0,0.75);
      box-shadow: 9px 15px 24px -12px rgba(0,0,0,0.75);
    }

    @include mq600 {
      display: block;
      width: 100%;
    }
  }
}