#applicationHeading {
  margin-top: 3em;

  h1 {
    font-size: 2rem;
    padding: .5em 1em;
    background: $orange;
    font-weight: 600;
    display: inline-block;
  }
}

#applicationContent {
  ul {
    font-size: 1.25rem;
    font-weight: 300;
  }
}