#applicationContent {
  .secondary-title {
    padding: .5em;
    background: $logo-blue;
    display: inline-block;
    color: white;
  }

  .third-title {
    font-size: 1.35rem;
  }

  .list-unstyled {
    font-weight: 400;
  }

  ul {
    font-size: 1.15rem;
  }

  hr {
    border: none;
    background: #d3d3d3;
    height: 1px;
  }

  .indent {
    border-left: 1px solid #d3d3d3;

    @include mq600 {
      border-left: none;
    }
  }
}