#applicationContent {
  .secondary-title {
    padding: .5em;
    background: $logo-blue;
    display: inline-block;
    color: white;
  }

  p {
    font-weight: 300;
    font-size: 1.25rem;
  }

  .indent {
    border-left: 1px solid #d8d8d8;

    @include mq600 {
      border-left: none;
    }
  }
}