#productHeading {
  margin-top: 2em;

  h1 {
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-bottom: -10px;

    .registered {
      font-size: 0.3em;
      top: -1.75em;
    }
  }

  .zenOwlLogo {
    max-width: 300px;
  }

  h2 {
    color: $orange;
  }
}
