#productHeading {
  margin-top: 2em;

  h1 {
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-bottom: -10px;

    .registered {
      font-size: .3em;
      top: -1.75em;
    }

    // .registered {
    //   font-size: .35em;
    //   position: absolute;
    //   right: -20px;
    //   top: 10px;
    // }
  }

  h2 {
    color: $orange;
  }
}