#softwareHeading {
  margin-top: 3em;

  h1 {
    font-size: 2rem;
    padding: .5em 1em;
    background: $orange;
    font-weight: 600;
    display: inline-block;
  }
}

#softwareContent {
  .googleForm {
    margin: 0 auto;
    text-align: center;
  }
}