#techSupportHeading {
  margin-top: 3em;

  h1 {
    font-size: 2rem;
    padding: .5em 1em;
    background: $orange;
    font-weight: 600;
    display: inline-block;
  }
}

#techSupportContent {

  .supportDocs {
    a {
      position: relative;
      left: 0;
      transition: left .3s;

      &:hover {
        left: 5px;
      }
    }

    i {
      font-size: 1.5rem;
    }

    .fa-file-pdf {
      color: red;
    }

    .fa-video {
      color: $orange;
    }
  }

}