#tradeshowsHeading {
  margin-top: 3em;

  h1 {
    font-size: 2rem;
    padding: .5em 1em;
    background: $orange;
    font-weight: 600;
    display: inline-block;
  }
}

#tradeshowsContent {
  .tradeshowIntro {
    font-size: 1.35rem;
    font-weight: 600;
  }

  .date {
    text-decoration: underline;
    margin-bottom: 1em;
  }

  .tradeshow-text {
    margin-bottom: 4em;
  }

  .tradeshow-link {
    font-size: 1.35rem;
    text-decoration: none;
    font-weight: 600;
    color: #111;
  }

}
